{erl_opts, [warnings_as_errors]}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
    {ebus, "0.3.0", {pkg, erlbus}},
    {njson, {git, "https://github.com/nomasystems/njson.git", {branch, "main"}}},
    {nuid, {git, "https://github.com/nomasystems/nuid.git", {branch, "main"}}}
]}.

{project_plugins, [
    {erlfmt, {git, "https://github.com/WhatsApp/erlfmt.git", {branch, "main"}}},
    {gradualizer, {git, "https://github.com/josefs/Gradualizer.git", {branch, "master"}}}
]}.
{erlfmt, [write]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer,
        gradualizer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"},
        {cover, "-m 100"}
    ]}
]}.

{profiles, [
    {test, [
        {deps, [
            {gun, {git, "https://github.com/ninenines/gun.git", {branch, "master"}}},
            {nct_util, {git, "https://github.com/nomasystems/nct_util.git", {branch, "main"}}}
        ]}
    ]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{xref_ignores, []}.
